//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 29 10:45:23 2022
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

